@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --gray-100: rgba(207, 216, 220, 1);
  --gray-300: rgba(144, 164, 174, 1);
  --green-700: rgba(56, 142, 60, 1);
  --label-normal-regular-font-family: "Karla", Helvetica;
  --label-normal-regular-font-size: 16px;
  --label-normal-regular-font-style: normal;
  --label-normal-regular-font-weight: 400;
  --label-normal-regular-letter-spacing: 0px;
  --label-normal-regular-line-height: normal;
  --neutral-white: rgba(255, 255, 255, 1);
  --red-500: rgba(244, 67, 54, 1);
  --yellow-700: rgba(251, 192, 45, 1);
}

.main-container {
  padding-top: 164px; /* Height of the header */
}

video::-webkit-media-controls {
  display: none;
}
